body {
    background-color: #6B6B6B;
    color: white;
    
}

#nav {
    
    margin-inline: auto;
}

.footer {
    align-self: flex-end;
    background-color: #FFD700;
    color: #6B6B6B;
}

.nav-bar-item {

}

.nav-button {
    background-color: green;
}

.nav-bar {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    font-size: 17px;
    top: 0;
    background-color: #6B6B6B;
    color: #f1f1f1;
    letter-spacing: 1px;
    justify-content: space-around;
}

/* CSS-fragen styles*/
.css-frage{

}

.css-question{

}

#css.answerbutton{

}

.css-quizform{

}

.css-radiocontainer{

}