body {
    background-color: #000000;
    color: white;
    
}

.background {
    background: url("C:\Users\Benedikt\SynologyDrive\Dokumente\0009_Technikerschule\INT-Projekt\Git-repository\bilder\background-code.jpg");
    background-size: cover;
    position: absolute;
}

#nav {
    
    margin-inline: auto;
}

footer {
    align-self: flex-end;
}

.nav-bar-item {

}

.nav-button {
    background-color: green;
}

.nav-bar {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    font-size: 17px;
    top: 0;
    background-color: #282A35;
    color: #f1f1f1;
    width: 100%;
    letter-spacing: 1px;
    justify-content: space-around;
}